<h1>Lista de Ventas</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let chicken of chickens" [ngClass]="{'clearance': chicken.clearance}">
            <td>{{chicken.name}}</td>
            <td>{{chicken.type}}</td>
            <td>{{chicken.price | currency}}</td>
            <td><span class="badge badge-info" *ngIf="chicken.stock>0">Hay stock</span></td>
            <td><span class="badge badge-danger" *ngIf="chicken.stock==0">Sin stock</span></td>
            <td><img [src]="chicken.image" [alt]="chicken.name"></td>
        </tr>
    </tbody>
</table>
