<h3>Lista de Ventas</h3>
<table class="table text-center">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Tipo</th>
			<th>Precio p/Kilo</th>
			<th>Stock</th>
			<th>Imagen</th>
			<th>Comprar p/Kilo</th>
		</tr>
	</thead>
	<tbody>

		<tr *ngFor="let chicken of chickens" [ngClass]="{'clearance': chicken.clearance}">
			<td>{{chicken.name}}</td>
			<td>{{chicken.type}}</td>
			<td>{{chicken.price | currency}}</td>
			<td>
				<span class="badge badge-info" *ngIf="chicken.stock>0">Hay stock</span>
				<span class="badge badge-danger" *ngIf="chicken.stock==0">Sin stock</span>
			</td>
			<td><img [src]="chicken.image" [alt]="chicken.name" width="120" class="img-thumbnail"></td>
			<td>
				<app-input-integer [(quantity)]="chicken.quantity" [max]="chicken.stock" *ngIf="chicken.stock">
				</app-input-integer>
				<button *ngIf="chicken.stock>0" class="btn  btn-danger btn-sm" (click)="addToCart(chicken)">Comprar</button>

			</td>
		</tr>
	</tbody>
</table>